$colors:(
    primary: #1f7b4c,
    accent: #33621a,
    body: #feffe4,
    contrast:#bb0518
);

$padding: 15px 15px;

@function color($color-name) {
    @return map-get($colors,$color-name)
}

::selection {
    background: color(contrast); 
    color: color(body);
    /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: color(contrast); /* Gecko Browsers */
    color: color(body);

  }


body, html{
    height: 100%;
    margin: 0;
    font-size: 0.85em;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;

}
body{

background-color: color(body);
position: relative;
z-index: -10;
#overlay{
    background-image: url("/Ficus.io/images/bg.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0.1;
}
#bg-bg{
    background: linear-gradient(90deg, rgba(187,5,24,1) 0%, rgba(187,5,24,1) 35%, rgba(255,255,255,1) 100%);            width: 100%;
            height: 100%;
            clip-path: polygon(100% 21.5%, 17.5% 100%, 61% 100%, 100% 100%);  
            opacity: 0.95;
            position: absolute;
            z-index: -1;
}
        #bg{
          
            background-image: linear-gradient(to left bottom, #1f7b4c, #669a68, #9dbb8b, color(body));            
            width: 100%;
            height: 100%;
            clip-path: polygon(100% 22%, 18% 100%, 61% 100%, 100% 100%);  
            opacity: 0.93;
            position: absolute;
            z-index: -1;

           
            #arrow{

                position: absolute;
                bottom: 90px;
                right: 100px;
                p{
                    margin:10px auto;
                    color: white;
                    opacity: 0.8;
                    font-size: 1.4rem;
                    font-weight: 800;
                    left:-5px;
                   


                }              
                .scroll-arrow {
                    margin: 0 auto;
                    width: 15px;
                    height: 15px;
                    transform: rotate(45deg);
                    border-right: 2px solid white;
                    border-bottom: 2px solid white;
                    animation: arrow-wave 1s infinite;
                    animation-direction: alternate;
                    @for $i from 1 through 3 {
                      &:nth-child(#{$i}) {
                        animation-delay: .1s*$i;
                      }
                    }
                  }
                  
                  @keyframes arrow-wave {
                    0% {
                      opacity: 0;
                    }
                    50% {
                      opacity: .5;
                    }
                    100% {
                      opacity: 1;
                    }
                  }}
            #nav-div{
                width:100%;
                background-color: color(body);
                padding:$padding;  
                opacity: 0.8;             
                
            }

        }

        @keyframes yourAnimation{
            0%{
                transform: translateY(-50px);
                opacity: 0;
                }
            100%{
                transform: rotate(xx) translateY(0);
                opacity: 1;
                }
        }

        #top-text{
            position: absolute;
            top: 200px;
            left:120px;
            display: inline-block;
            max-width: 750px;

        
                animation: yourAnimation 1s forwards 0s ease;
            
            h1{
                font-family: 'Merriweather', serif;
                color: color(primary);
                font-size: 2.8rem;
                font-weight: 600px;

            }
            p{
                color: color(accent);
                font-size: 1.8rem;
                font-weight: 650px;
                margin-bottom: 55px;

            }
            a{
                padding: 25px 65px;
                color: color(contrast);
                border: solid color(contrast) 3px;
                text-decoration: none;
                
                -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                display: block;
                
                max-width: 152px;
                border-radius: 4px;
                span{
                    margin-left:2px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-decoration-line: none;
                }

                
            }
            a:hover{
                color: color(body);
                
                
	box-shadow: color(contrast) 0 80px 0px 2px inset;
            }

        }
       
        @media screen and (max-width: 768px) {
            #bg-bg{
                clip-path: polygon(100% 72%, 12% 100%, 100% 100%); 
            }
            #bg{
                clip-path: polygon(100% 72%, 12% 100%, 100% 100%); 
                background-image: none;
                background-color: color(primary);
                opacity: 1;
                #arrow{
                    p{
                        display: none;
                    }
                position: absolute;
                bottom: 25px;
                right: 40px;
                                    

                }   
                  
            }
            #top-text{
            position: absolute;
            top: 150px;
            left:0;
            display: inline-block;
            max-width: 350px;   
            padding: 0 15px;
            margin: 0 auto;
            z-index: -1;
            h1{
                font-family: 'Merriweather', serif;
                color: color(primary);
                font-size: 2.4rem;
                font-weight: 600px;

            }
            p{
                color: color(accent);
                font-size: 1.5rem;
                font-weight: 650px;
                margin-bottom: 55px;

            }
            a{
                margin: 0 auto;
                padding: 20px 60px;
                color: color(contrast);
                border: solid color(contrast) 3px;
                text-decoration: none;
                
                -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                display: block;
                
                max-width: 152px;
                border-radius: 4px;
                span{
                    margin-left:2px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-decoration-line: none;
                }

                
            }
        }

        }
}

#locations-div{
    color: rgba(187,5,24,0.7);
    font-size: 2.5rem;
    font-weight: 2000;
    display: block;
    position: absolute;
    top: 130px;
    right:30px;
    margin: 0;
    padding: 0;

    
    h1{
        
        text-align: right;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        max-width: 550px;
    
    }
    

}
//img overlay top
.img-section {
background-image: url("/Ficus.io/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -3;
  }
  
  
  .img-overlay {
      background-color:color(body);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    opacity: 0.85; 
    position: relative;
    z-index: -2;
      
  }

//navbar
.navbar {
	overflow: hidden;
  padding-right:5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
 
}

.trans-nav{
    clip-path: polygon(0 0, 100% 0%, 100% 34%, 0 16%);
	background-color: transparent;
border-bottom: solid #bb0518 2px;
}


.navbar #logo {
	float: left;
	display: block;
    color: color(primary);
    text-align: center;
    font-size: 2rem;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Niconne', cursive;
    margin-left:5%;


}
.navbar a {
	float: right;
	display: block;
    color: color(primary);
    text-align: center;
    font-size: 1.2rem;
    padding: 25px 20px;
    text-decoration: none;
    text-transform: capitalize;

  
}
.navbar a:hover {
    font-weight: bolder;
    color: color(contrast);
}
.navbar .icon {
	display: none;
}

.solid-nav{
    background-color: color(primary);
    transition: background-color 700ms ease-in-out 0s;
    #logo, a, .icon{
        color: color(body);
        
        
    }
}
@media screen and (max-width: 768px) {
	.navbar a {
		display: none;
	}
	.navbar a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 768px) {
    .navbar{
        background-color: color(primary);
        
        
        #logo, a, .icon{
            color: color(body);
            
            
        }

    }
	.navbar.responsive {
        
        position: fixed;
        top: 0;
        
        
        
	}
	
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: center;
        padding-right: 20px;
        border-bottom: solid color(body) 0.5px;     
      
    }
    .navbar.responsive a:nth-child(2){
        border: none;
    }
    .navbar.responsive a.icon {
		position: absolute;
		right: 20px;
        top: 0;
        border: none;
	}
    .navbar.responsive #logo {
		
        border-bottom: none;     
      
	}
	.navbar.responsive .dropdown {
        float: none;
       
        
	}
	.navbar.responsive .drop-content {
		position: relative;
		padding-left: 30px;
		padding-right: 30px;
		background-color: color(accent);
	}
	.navbar.responsive .drop-content a {
		border-top: 1px solid color(primary);
	}
	.navbar.responsive .dropdown .drop {
		display: block;
		width: 100%;
		text-align: center;
		border-top: 2px solid color(primary);
	}
	
}
///about section

#about-div, #services-div, #contact-div{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -5;
    
    
    background-color: color(body);
}



#about, #services, #contact{
    margin: 0;
    padding:0;
    background-color: color(body);
    height: 100%;
    
    
}

#services{
    background-color: color(primary);
}



.fixed-image-border{
    clip-path: circle(41.4% at 79% 66%);
    background-color: color(contrast);
    .fixed-image-background{
        clip-path: circle(40.4% at 79% 66%);
        background-color: color(body);
    }
    .fixed-image{
        opacity: 0.95;
        clip-path: circle(40.4% at 79% 66%);
        height: 100vh;
        width:100%;
        background-attachment: scroll;
        background-image: url("/Ficus.io/images/house1.jpg");
        background-size: cover;
        opacity: 0.85;
        
    }
    .fixed-image3{
        opacity: 0.95;

        clip-path: circle(40.4% at 79% 66%);
        height: 100vh;
        width:100%;
        background-attachment: scroll;
        background-image: url("/Ficus.io/images/contact.jpg");
        background-size: cover;
        opacity: 0.85;
        
    }
}


.fixed-image2-border{
    clip-path: circle(41.4% at 23% 59%);
    background-color: color(contrast);
    .fixed-image2-background{
        clip-path: circle(40.4% at 23% 59%);
        background-color: color(body);
    }
    .fixed-image2{
        opacity: 0.95;
        clip-path: circle(40.4% at 23% 59%);
        height: 100vh;
        width:100%;
        background-attachment: scroll;
        background-image: url("/Ficus.io/images/soil.jpg");
        background-size: cover;
        opacity: 0.85;
        
    }
}


@media screen and (max-width: 768px) {
    .fixed-image-border{
clip-path: ellipse(88% 36% at 24% 17%);
        background-color: color(contrast);
        .fixed-image-background{
    clip-path: ellipse(88% 36% at 24% 17%);
            background-color: color(body);
        }
        .fixed-image{
    clip-path: ellipse(88% 36% at 24% 17%);
            height: 80vh;
            width:100%;
            background-attachment: local;
            background-image: url("/Ficus.io/images/house1.jpg");
            background-size: 150%;
            opacity: 0.85;
            
        }
        .fixed-image3{
    clip-path: ellipse(88% 36% at 24% 17%);
            height: 100vh;
            width:100%;
            background-attachment: scroll;
            background-image: url("/Ficus.io/images/contact.jpg");
            background-size: 150%;
            opacity: 0.85;
            
        }
    }
    .fixed-image2-border{
clip-path: ellipse(88% 36% at 24% 17%);
        background-color: color(contrast);
        .fixed-image2-background{
    clip-path: ellipse(88% 36% at 24% 17%);
            background-color: color(body);
        }
        .fixed-image2{
    clip-path: ellipse(88% 36% at 24% 17%);
            height: 100vh;
            width:100%;
            background-attachment: scroll;
            background-image: url("/Ficus.io/images/soil.jpg");
            background-size: 150%;
            opacity: 0.85;
            
        }
    }
}

.text{
    position: absolute;
    top: 150px;
    left:120px;
    display: inline-block;
    max-width: 350px; 
    height: auto;  
    padding: 0 15px;
    margin: 0 auto;
    z-index: 15;
    h1{
        font-family: 'Merriweather', serif;
        color: color(primary);
        font-size: 2.8rem;
        font-weight: 600px;

    }
    p{
        color: color(accent);
        font-size: 1.8rem;
        font-weight: 650px;
        margin-bottom: 55px;

    }
}

.text2{
    position: absolute;
    top: 50px;
    right:30px;
    display: inline-block;
    max-width: 540px; 
    height: auto;  
    padding: 0 15px;
    margin: 0 auto;
    z-index: 15;
    h1{
        font-family: 'Merriweather', serif;
        color: color(body);
        font-size: 2.8rem;
        font-weight: 600px;
        margin-bottom: 15px;

    }
    p{
        color: color(body);
        font-size: 1.8rem;
        font-weight: 550px;
        margin-bottom: 55px;

    }
    ul{
        
        li{
            img{
                vertical-align: bottom;
                
                
            }
            
            vertical-align: text-top;
            list-style: none;
            color: color(body);
        font-size: 1.5rem;
        font-weight: 650px;
        margin-bottom: 16px;
        }
        li:nth-child(1){
            margin-bottom: 3px;
        }
    }
}



@media screen and (max-width: 768px) {
    #services-div{
        height: 150vh;
        
    }
    #contact-div{
        height: 130vh;
    }
    .text{
        position: absolute;
        top: 300px;
        left:0px;
        display: inline-block;
        max-width: 350px; 
        height: auto;  
        padding: 0 15px;
        margin: 0 auto;
        z-index: 15;
        h1{
            font-family: 'Merriweather', serif;
            color: color(primary);
            font-size: 2.2rem;
            font-weight: 600px;
    
        }
        p{
            color: color(accent);
            font-size: 1.4rem;
            font-weight: 650px;
            margin-bottom: 55px;
    
        }
    }
    
    .text2{
        position: absolute;
        top: 300px;
        right:0;
        display: inline-block;
        max-width: 540px; 
        height: auto;  
        
        margin: 0 auto;
        z-index: 15;
        h1{
            padding: 0 15px;
            font-family: 'Merriweather', serif;
            color: color(body);
            font-size: 2.2rem;
            font-weight: 600px;
            margin-bottom: 15px;
    
        }
        p{

            color: color(body);
            font-size: 1.4rem;
            font-weight: 550px;
            margin-bottom: 15px;
    
        }
        ul{
            padding: 0;
            

            li{
                img{
                    vertical-align: bottom;
                   
                    
                    
                }
                
                vertical-align: text-top;
                list-style: none;
                color: color(body);
            font-size: 1.5rem;
            font-weight: 650px;
            margin-bottom: 20px;
            }
            li:nth-child(1){
                margin-bottom: 16px;
            }
        }
    }
}
//form
.form{
    position: absolute;
    top: 60px;
    left:120px;
    display: inline-block;
    max-width: auto; 
    height: 120;  
    padding: 0 15px;
    margin: 0 auto;
    z-index: 15;
    h3{
        font-family: 'Merriweather', serif;
        color: color(primary);
        font-size: 2.8rem;
        font-weight: 600px;
        margin-bottom: 25px;
    }
    p{
        color: color(accent);
        font-size: 1.8rem;
        font-weight: 650px;
        margin-bottom: 15px;
        strong{
            color: color(contrast);
        }

    }
    .form-group{
        input,textarea{
            min-width:300px ;
padding: 15px 25px;
margin: 7.5px 0;
color: color(primary);
font-size: 1.5rem;
font-weight: 450px;
border: none;
border-bottom: solid color(accent) 2px;
background-color: #f8f9ea;
::placeholder{
    font-size: 1.5rem;
font-weight: 450px;
color: color(contrast);
opacity: 0.8;
}
        }
        label{
            color: color(accent);
            font-size: 1.8rem;
            font-weight: 650px;
            margin-bottom: 55px;
        }
        
        textarea{
            height: 55px;;
            ::placeholder{
                font-size: 1.5rem;
            font-weight: 450px;
            color: color(contrast);
            opacity: 0.8;
        }
        
    }
    
}
input[type=submit] {
    
    margin: 15px auto 15px auto;
    
    padding: 15px 35px;
    width:175px;
    background: transparent;
    color: color(contrast);
        border: solid color(contrast) 3px;
        border-radius: 5%;
        font-size: 1.8rem;
            font-weight: 650px;
            -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

input[type=submit]:hover{
    color: color(body);            
	box-shadow: color(contrast) 0 80px 0px 2px inset;
}
}

@media screen and (max-width: 768px) {
    .form{
        position: absolute;
        top: 300px;
        left:0;
        display: inline-block;
        max-width: auto; 
        height: 120;  
        padding: 0 15px;
        margin: 0 auto;
        z-index: 15;
        h3{
            font-family: 'Merriweather', serif;
            color: color(primary);
            font-size: 2.2rem;
            font-weight: 600px;
            margin-bottom: 25px;
        }
        p{
            color: color(accent);
            font-size: 1.4rem;
            font-weight: 650px;
            margin-bottom: 15px;
            strong{
                color: color(contrast);
            }
    
        }
        .form-group{
            input,textarea{
                min-width:300px ;
    padding: 15px 25px;
    margin: 7.5px 0;
    color: color(primary);
    font-size: 1.5rem;
    font-weight: 450px;
    border: none;
    border-bottom: solid color(accent) 2px;
    background-color: #f8f9ea;
    ::placeholder{
        font-size: 1.5rem;
    font-weight: 450px;
    color: color(contrast);
    opacity: 0.8;
    }
            }
            label{
                color: color(accent);
                font-size: 1.8rem;
                font-weight: 650px;
                margin-bottom: 55px;
            }
            
            textarea{
                height: 80px;;
                ::placeholder{
                    font-size: 1.5rem;
                font-weight: 450px;
                color: color(contrast);
                opacity: 0.8;
            }
            
        }
        
    }
    input[type=submit] {
        
        margin: 15px auto 15px auto;
        
        padding: 15px 35px;
        width:175px;
        background: transparent;
        color: color(contrast);
            border: solid color(contrast) 3px;
            border-radius: 5%;
            font-size: 1.8rem;
                font-weight: 650px;
                -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    }
    
    input[type=submit]:hover{
        color: color(body);            
        box-shadow: color(contrast) 0 80px 0px 2px inset;
    }
    }
      
}

#footer{
    position: relative;
    bottom: 0;

    margin: 0;
    background-color: color(primary);
    
    width: 100%;
    h3{
        color: color(body);
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;
        padding: 20px;

    }
    
@media screen and (max-width: 768px) {
    
    h3{
        color: color(body);
        font-size: 1.1rem;
        font-weight: 300;
        text-align: center;
        padding: 20px;

    } 
}
}