$colors:(
    primary: #2eb872,
    accent: #a3de83,
    body: #feffe4,
    contrast:#fa4659
);

$padding: 15px 15px;

@function color($color-name) {
    @return map-get($colors,$color-name)
}

::selection {
    background: color(contrast); 
    color: color(body);
    /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: color(contrast); /* Gecko Browsers */
    color: color(body);

  }


body, html{
    height: 100%;
    margin: 0;
    font-size: 0.85em;
    font-family: 'Lato', sans-serif;

}
body{

background-color: color(body);
position: relative;
z-index: -10;
#overlay{
    background-image: url("/images/bg.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0.1;
}
        #bg{
          
            background-color: color(primary);
            clip-path: polygon(100% 22%, 100% 16%, 18% 100%, 61% 100%, 100% 100%);  
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            #arrow{
                position: absolute;;
                bottom: 90px;
                right: 100px;
                              
                .scroll-arrow {
                    width: 15px;
                    height: 15px;
                    transform: rotate(45deg);
                    border-right: 2px solid white;
                    border-bottom: 2px solid white;
                    animation: arrow-wave 1s infinite;
                    animation-direction: alternate;
                    @for $i from 1 through 3 {
                      &:nth-child(#{$i}) {
                        animation-delay: .1s*$i;
                      }
                    }
                  }
                  
                  @keyframes arrow-wave {
                    0% {
                      opacity: 0;
                    }
                    50% {
                      opacity: .5;
                    }
                    100% {
                      opacity: 1;
                    }
                  }}
            #nav-div{
                width:100%;
                background-color: color(body);
                padding:$padding;  
                opacity: 0.8;             
                
            }

        }
        
        #top-text{
            position: absolute;
            top: 200px;
            left:120px;
            display: inline-block;
            max-width: 750px;
            h1{
                font-family: 'Merriweather', serif;
                color: color(primary);
                font-size: 2.8rem;
                font-weight: 600px;

            }
            p{
                color: color(accent);
                font-size: 1.8rem;
                font-weight: 650px;
                margin-bottom: 55px;

            }
            a{
                padding: 25px 65px;
                color: color(contrast);
                border: solid color(contrast) 3px;
                text-decoration: none;
                
                -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                display: block;
                
                max-width: 152px;
                border-radius: 4px;
                span{
                    margin-left:2px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-decoration-line: none;
                }

                
            }
            a:hover{
                color: color(body);
                
                
	box-shadow: color(contrast) 0 80px 0px 2px inset;
            }

        }
       
        @media screen and (max-width: 768px) {
            #bg{
                clip-path: polygon(100% 72%, 12% 100%, 100% 100%); 
                #arrow{
                position: absolute;
                bottom: 100px;
                right: 40px;
                                    

                }   
                  
            }
            #top-text{
            position: absolute;
            top: 150px;
            left:0;
            display: inline-block;
            max-width: 350px;   
            padding: 0 15px;
            margin: 0 auto;
            z-index: -1;
            h1{
                font-family: 'Merriweather', serif;
                color: color(primary);
                font-size: 2.8rem;
                font-weight: 600px;

            }
            p{
                color: color(accent);
                font-size: 1.8rem;
                font-weight: 650px;
                margin-bottom: 55px;

            }
            a{
                margin: 0 auto;
                padding: 20px 60px;
                color: color(contrast);
                border: solid color(contrast) 3px;
                text-decoration: none;
                
                -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
                display: block;
                
                max-width: 152px;
                border-radius: 4px;
                span{
                    margin-left:2px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-decoration-line: none;
                }

                
            }
        }

        }
}

//img overlay top
.img-section {
background-image: url("/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -3;
  }
  
  
  .img-overlay {
      background-color:color(body);
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    opacity: 0.9; 
    position: relative;
    z-index: -2;
      
  }

//navbar
.navbar {
	overflow: hidden;
  padding-right:5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
 
}

.trans-nav{
	background-color: transparent;

}


.navbar #logo {
	float: left;
	display: block;
    color: color(primary);
    text-align: center;
    font-size: 2rem;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Niconne', cursive;
    margin-left:5%;


}
.navbar a {
	float: right;
	display: block;
    color: color(primary);
    text-align: center;
    font-size: 1.2rem;
    padding: 25px 20px;
    text-decoration: none;
    text-transform: capitalize;

  
}
.navbar a:hover {
    font-weight: bolder;
    color: color(contrast);
}
.navbar .icon {
	display: none;
}

.solid-nav{
    background-color: color(primary);
    transition: background-color 700ms ease-in-out 0s;
    #logo, a, .icon{
        color: color(body);
        
        
    }
}
@media screen and (max-width: 768px) {
	.navbar a {
		display: none;
	}
	.navbar a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 768px) {
    .navbar{
        background-color: color(primary);
        
        
        #logo, a, .icon{
            color: color(body);
            
            
        }

    }
	.navbar.responsive {
        
        position: fixed;
        top: 0;
        
        
        
	}
	
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: center;
        padding-right: 20px;
        border-bottom: solid color(body) 0.5px;     
      
    }
    .navbar.responsive a:nth-child(2){
        border: none;
    }
    .navbar.responsive a.icon {
		position: absolute;
		right: 20px;
        top: 0;
        border: none;
	}
    .navbar.responsive #logo {
		
        border-bottom: none;     
      
	}
	.navbar.responsive .dropdown {
        float: none;
       
        
	}
	.navbar.responsive .drop-content {
		position: relative;
		padding-left: 30px;
		padding-right: 30px;
		background-color: color(accent);
	}
	.navbar.responsive .drop-content a {
		border-top: 1px solid color(primary);
	}
	.navbar.responsive .dropdown .drop {
		display: block;
		width: 100%;
		text-align: center;
		border-top: 2px solid color(primary);
	}
	
}
///about section

#about-div, #services-div, #contact-div{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -5;
    border-bottom: solid color(accent) 2px;
    
    background-color: color(accent);
}

#about-div{
    padding-top:80px;
}
#about, #services, #contact{
    margin-left: 10%;
    margin-right:10%;
    background-color: color(body);
    height: 100%;
    
}

